<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body>
<nav th:replace = "fragments :: navigation"></nav>
<hr>

<div class="box" style="padding-bottom:150px">
    <h2 class="title">Booking Cancelled</h2>
    <hr>
    <h2 class="title">Booking ID: ASAJZ126</h2>
    <h3>Your booking has been successfully cancelled. We hope you to see you again.</h3>

    
</div>

<div class="field is-horizontal margin">
    <div class="field-body">
        <div class="field">
            <p class="control">
                <a class="button is-info is-medium" type="submit" name="submitBtn3" id="submitBtn3" href="/">Go to Homepage</a>
            </p>
        </div>
    </div>
</div>