<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
   <meta charset="UTF-8"/>
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Hotel Reservation</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"/>
   <link rel="stylesheet" href="styles.css"/>
</head>
<body>
  <nav th:fragment="navigation" class="navbar" role="navigation" aria-label="main navigation"> 
    <div class="navbar-start">
      <div class="navbar-item">
        <div class="buttons">
         <a class="button is-light" href="/manage.html"> Manage Bookings </a>
        </div>
      </div>
    </div>
    <div class="navbar-brand has-text-centered"> 
        <a class="navbar-item content is-large" href="/"><strong> Hotel Reservation System </strong></a> 
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" href="/sign-in.html"> Sign in </a>
          <a class="button is-info" href="/register"> Register </a>
        </div>
      </div>
    </div>
  </nav>
</body>
</html>