<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace = "fragments :: head">
</head>
<body>
<nav th:replace = "fragments :: navigation"></nav>
<hr>
<div class="columns">
    <div class="column"></div>
    <div class="column is-four-fifths">
     <!-- center column -->
     <article class="message is-dark">
        <div class="message-header">
          <h1>Hotel Details</h1>
        </div>
        <div class="message-body">
            <strong>Hotel Name: </strong><span th:text="${hotelname}"></span>
            <br>
            <strong>Hotel Address: </strong><span th:text="${address}"></span>
            <br>
            <strong>State: </strong><span th:text="${state}"></span>
            <br>
            <strong>Postal Code: </strong><span th:text="${zip}"></span>
            <br>
            <strong>Rating: </strong><span th:text="${rating}"></span>
        </div>
      </article>
      <!-- list all rooms in a hotel -->
      <div align = "center"> 
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Cost Per Night</th>
            <th>Book Room</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="rooms : ${listRooms}">
            <td th:text="${rooms.roomName}"></td>
            <td th:each="roomtypes : ${listRoomTypes}" th:if="(${roomtypes.id} == ${rooms.roomTypeID})" th:text="${roomtypes.type}"></td>
            <td th:text="'&#36;'+${rooms.costPerNight}"></td>
            <td><a th:href="@{/book-room.html(roomid=${rooms.id})}"> Room </a></td>
          </tr>
        </tbody>
      </table> 
      </div>
      <!-- /list all rooms in a hotel -->
     <!-- end center column -->
    </div>
    <div class="column"></div>
</div>
</body>
</html>