<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace = "fragments :: head">
</head>
<body>
<nav th:replace = "fragments :: navigation"></nav>
<hr>
<div class="columns">
    <div class="column"></div>
    <div class="column is-5">
      <form th:action="@{/}" method="post">
        <!-- center column -->
        <div class="field is-horizontal">
           <div class="field-body">
              <div class="field">
                <label for="location"><strong>Location:</strong></label>
                <p class="control">
                  <input class="input is-info" type="text" placeholder="Please enter hotel name, city, state, or postal code" required/>
                </p>
              </div>
           </div>
        </div>
        <!-- end center column -->
        <div class="field is-horizontal margin">
          <div class="field-body">
            <div class="field" align="center">
              <p class="control">
              <input class="button is-info is-normal" type="submit" value="Search" />
              <input class="button is-info is-normal" type="button" value="Clear" />
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
  <div class="column"></div>
</div>
<div align = "center"> 
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Hotel Name</th>
        <th>Location</th>
        <th>Postal Code</th>
        <th>View Room</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="hotels : ${listHotels}">
        <td th:text="${hotels.hotel_name}"></td>
        <td th:each="location : ${listLocations}" th:if="(${location.id} == ${hotels.locationId})" th:text="${location.locationName}"></td>
        <td th:text="${hotels.postal_code}"></td>
        <td><a th:href="@{/hotel-details.html(hotelid=${hotels.id})}"> Room </a></td>
      </tr>
    </tbody>
  </table> 
</div>
</body>
</html>