<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: common-header"></head>
    <body>
        <div layout:fragment="content" th:remove="tag">
            <h1>DePaul SE352/452 Project</h1>
            <h1>Hotel Reservation System</h1>
            <p>Only way to book a hotel!</p>
            <ol>
                <li><a href="/hotel" th:href="@{/hotel}">Demo</a></li>
            </ol>       
        </div>
        <div th:replace="/fragments/footer :: footer"></div>   
    </body>
</html>