<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body>
<nav th:replace = "fragments :: navigation"></nav>
<hr>

<div class="box" style="padding-bottom:150px">
    <div class="field is-vertical margin">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input class="input is-info is-medium" placeholder= "Enter Booking ID" type="text" name="bookingID" id="bookingID"/>
                </p>
                <p class="help is-danger"></p> 
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <a class="button is-info is-medium" style = "float:right; margin:5px" href = "/updated.html">Update Booking</a>
                        <a class="button is-info is-medium" style = "float:right; margin:5px" href = "/cancellation.html">Cancel Booking</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-vertical margin">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <p><b>Hotel Name:</b>    TRUMP INTERNATIONAL HOTEL</p>
                </p>
                <p class="help is-danger"></p> 
            </div>
        </div>
    </div>    
    <div class="field is-vertical margin">
        <div class="field-body">
            <div class="field">
                <label for="start"><b>Check in:</b></label>
                <input type="date" id="start" name="trip-start" value="2021-05-20" min="2021-05-15" max="2022-12-31">
                <label for="end"><b>Check out:</b></label>
                <input type="date" id="end" name="trip-start" value="2021-05-30" min="2021-05-15" max="2022-12-31">
                <p class="help is-danger"></p> 
            </div>
        </div>
    </div>  
    <div class="field is-vertical margin">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <p><b>Room Type:</b>    Single Room</p>
                </p>
                <p class="help is-danger"></p> 
            </div>
        </div>
    </div> 
    <div class="field is-vertical margin">
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <p><b>Number of Guests:</b>    2</p>
                </p>
                <p class="help is-danger"></p> 
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal margin">
    <div class="field-body">
        <div class="field">
            <p class="control">
                <a class="button is-info is-medium" href="/">Go to Homepage</a>
            </p>
        </div>
    </div>
</div>