<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body>
<nav th:replace = "fragments :: navigation"></nav>
<hr>
    <section class="is-fullheight">
        <div class=""> 
            <div class="container has-text-centered">
                <div class="columns">
                <div class="column is-4"></div>
                <div class="box signInBoxSize">
                    <form action="" method="POST">
                    <h1 class="title">Sign In</h1>
                    <div class="field is-vertical margin">
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input is-info is-medium" placeholder= "User Name" type="text" name="userName" id="userName" value=""/>
                                </p>
                                <p class="help is-danger"></p> 
                            </div>
                        </div>
                    </div>
                    <div class="field is-vertical margin">
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="input is-info is-medium" placeholder= "Password" type="text" name="userName" id="userName" value=""/>
                                </p>
                                <p class="help is-danger"></p> 
                            </div>
                        </div>
                    </div>
                    <div class="field is-vertical margin">
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    <input class="button is-info is-normal" type="submit" name="logInBtn" id="logInBtn" value="Log In"/>
                                </p>
                            </div>
                        </div>
                    </div>
                  </form>
                </div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>