<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>
<body>
<nav th:replace = "fragments :: navigation"></nav>
<hr>

<div class="box" style="padding-bottom:150px">
    <h2 class="title">Booking Updated</h2>
    <hr>
    <h2 class="title">Booking ID: ASAJZ126</h2>
    <h3>Your booking has been succefully updated. We hope you enjoy your stay.</h3>

    
</div>

<div class="field is-horizontal margin">
    <div class="field-body">
        <div class="field">
            <p class="control">
                <input class="button is-info is-medium" type="submit" name="submitBtn4" id="submitBtn4" href="/index.html" value="Go to Homepage"/>
            </p>
        </div>
    </div>
</div>